* {
    /* border: 1px solid purple; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(246, 206, 89);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(248, 214, 22);
    position: fixed;
    margin-top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

#griot-title {
    font-size: xx-large;
    font-weight: bold;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(40, 12, 255)
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;
}

.subtitle {
    z-index: 1;
    height: 10em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 4em;
    margin-bottom: -40px;
}

.show-header {
    background-color: rgb(248, 214, 22);
    color: black;
    font-size: x-large;
    display: flex;
    justify-content: center;
    height: 100px;
    background: -moz-linear-gradient(rgba(255,255,255,0) 0%, rgb(248, 214, 22) 10%,  rgb(248, 214, 22) 80%,  rgb(248, 214, 22) 10%, rgba(255,255,255,0) 100%);
}

.shows {
    width: 55%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 22%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.flexbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    border: 1px solid black;
    background-color: rgba(248, 214, 22, 0.767);
}

.show-info {
    display: flex;
    flex-direction: row;
}
.show-images {
    width: 250px;
}

.showlist {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#juno {
    height: 200px;
}
.read-more {
    width:100px;
    height: 30px;
    margin-top: 70px;
    margin-left: 50px;
    background-color: rgb(255, 170, 0);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 25%;
    padding: 2%;
    padding-left: 100px;
}

.chicago-map {
    width: 250px;
    height: 280px;
    margin-top: 0px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 20%;
    font: 0.6em;
    margin-top: 30px;   
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    margin-top: 30px;  
}

.footlist {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    margin-top: 30px;  
}

.foothead {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-decoration: underline;
}

.tiny {
    margin: 3px;
    color: white;
}